.container {
    margin:10px 0
}
.input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #032668;
    border-radius: 3px;
    outline: none;
}